.resources_wrapper {
	cursor: grab !important;
}

.img_wrapper {
	position: absolute;
	top: 0;
	right: 0;
}

.heading_container h2 {
	max-width: 500px;
}

.swiper_btn_wrapper {
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 10;
}

.swiper_btn_wrapper svg {
	background-color: var(--dark-primary);
	width: 40px;
	height: 40px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	padding: 0.75rem;
	position: relative;
	left: initial;
	right: initial;
	cursor: pointer;
}

.swiper_btn_wrapper svg:hover {
	opacity: 0.75;
}

.swiper_btn_wrapper svg:last-of-type {
	margin-left: 30px;
}
