.top_categoreis_inner_wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-content: center;
	gap: 1rem;
}

.btn_wrapper {
	display: flex;
	justify-content: center;
}

@media all and (max-width: 1024px) {
	.top_categoreis_inner_wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
}

@media all and (max-width: 576px) {
	.top_categoreis_inner_wrapper {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
