.wrapper {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border-radius: 7.5px;
	width: 100%;
	max-width: max-content;
	line-height: 1.3;
	text-align: left;
}

.success {
	background-color: var(--lite-green);
	color: var(--green);
}

.error {
	background-color: var(--lite-red);
	color: var(--red);
}

.wrapper svg {
	min-width: 25px;
	max-width: 25px;
	margin-right: 0.5rem;
}

.msg {
	word-break: break-word;
	line-height: 1.5;
}

@media all and (max-width: 576px) {
	.center {
		flex-direction: column;
		text-align: center;
	}

	.center .msg {
		margin-top: 0.5rem;
	}
}
