.back_to_signin {
	position: absolute;
	top: 2rem;
	left: 2rem;
	width: max-content;
	height: max-content;
}

.back_to_signin svg {
	margin-left: 0;
	margin-right: 5px;
}

.back_to_signin:hover svg {
	-webkit-transform: translateX(-5px);
	-moz-transform: translateX(-5px);
	-ms-transform: translateX(-5px);
	-o-transform: translateX(-5px);
	transform: translateX(-5px);
}

.inner_wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.inner_wrapper span {
	color: var(--red);
}

.input {
	padding: 0.65rem;
	border: 1px solid var(--gray-border);
	width: 100%;
	margin-top: 0.75rem;
	border-radius: 5px;
}

.input::placeholder {
	font-size: 12px;
}

.btn {
	width: max-content;
	height: max-content;
}

.error_msg {
	font-size: 14px !important;
	color: var(--red);
}

.submit_loader {
	margin-left: 1rem;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn {
	margin-top: 2rem;
}

.signin_error {
	margin-bottom: 1rem;
	background-color: var(--lite-red);
	width: max-content;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.signup_suc svg,
.signin_error svg {
	margin-right: 0.5rem;
	min-width: 20px;
	max-width: 20px;
}

.signup_suc {
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--green);
	background-color: var(--lite-green);
	line-height: 1.2;
	padding: 0.5rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 1rem;
}

.hide_forgot_form {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.forgot_form h4 {
	margin-top: 2.5rem;
}

.forgot_form form {
	margin-top: 1rem;
}

.reset_msg {
	margin-top: 1rem;
}
