.seller_portal {
	overflow: hidden;
}
.left_img_wrapper {
	position: absolute;
	top: 0;
	left: 0;
}

.right_img_wrapper {
	position: absolute;
	top: -5px;
	right: 0;
}

.blob_img_wrapper {
	position: absolute;
	bottom: -2rem;
	left: 0;
}

.seller_portal_wrapper {
	display: flex;
	justify-content: space-between;
	text-align: right;
	max-width: 82.5%;
	margin: 0 auto;
}

.left_col {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 45%;
	z-index: 1;
}

.text_wrapper {
	width: 280px;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.text_wrapper {
	display: inline-block;
}

.left_col p {
	margin-top: 1rem;
}

.wrapper:nth-of-type(2) {
	margin: 4rem 0;
}

.wrapper:last-of-type {
	margin-left: 5rem;
}

.icon_wrapper {
	background-color: var(--white);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: 0px 16px 20px 0px rgb(43 1 68 / 11%);
	min-width: 110px;
	max-width: 110px;
	min-height: 110px;
	max-height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
}

.icon_wrapper span {
	width: 100px !important;
	height: 100px !important;
}

.right_col {
	width: 300px;
	margin-right: 5%;
}

@media all and (max-width: 1250px) {
	.seller_portal_wrapper {
		max-width: 100%;
	}

	.left_col {
		min-width: 50%;
	}

	.right_img_wrapper {
		width: 65%;
	}
}

@media all and (max-width: 1024px) {
	.seller_portal_wrapper {
		flex-direction: column;
		align-items: center;
	}

	.right_img_wrapper {
		display: none;
	}

	.right_col {
		margin-right: 0;
		margin-top: 3rem;
	}
	.wrapper:last-of-type {
		margin-left: 0;
	}

	.left_col {
		min-width: 50%;
		max-width: 100%;
	}

	.icon_wrapper {
		margin-left: 2rem;
	}
}

@media all and (max-width: 768px) {
	.icon_wrapper {
		min-width: 90px;
		max-width: 90px;
		min-height: 90px;
		max-height: 90px;
	}

	.icon_wrapper span {
		width: 80px !important;
		height: 80px !important;
	}
}

@media all and (max-width: 576px) {
	.icon_wrapper {
		min-width: 70px;
		max-width: 70px;
		min-height: 70px;
		max-height: 70px;
	}

	.icon_wrapper span {
		width: 50px !important;
		height: 50px !important;
	}

	.icon_wrapper {
		margin-left: 1rem;
	}
}
