.webinar_modal_wrapper {
	overflow: hidden;
}

.webinar_modal_wrapper img {
	border-radius: 15px;
}

.help_chat_btn {
	position: fixed;
	/* right: 1rem; */
	/* bottom: 175px; */
	/* height: 40px; */
	/* width: 40px; */
	/* padding: 0; */
	/* text-align: center; */
	/* z-index: 4 !important; */
	/* cursor: pointer; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* opacity: 0; */
	/* transform: translateY(200px); */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); */
	border: 1px solid var(--white);
	left: 0;
}

@media all and (max-height: 600px) and (orientation: landscape) {
	.webinar_modal_wrapper {
		max-width: 50%;
	}
}
