.wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}

.scroller {
	overflow: hidden !important;
}

.pagination_loader {
	margin-top: 1rem;
}

.read_more {
	margin-top: 2rem;
}

@media all and (max-width: 1024px) {
	.wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media all and (max-width: 768px) {
	.wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media all and (max-width: 576px) {
	.wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
