.hero_banner {
	position: relative;
}

.header_wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.header_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 2;
}

.header_content p {
	margin-top: 0.5rem;
}

.img_wrapper {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
}

.course_info {
	margin-bottom: 7rem;
}

.full_img {
	width: 100%;
	height: auto;
	padding-top: 25%;
	max-height: 400px;
}

.full_img .img_wrapper,
.full_img .mob_img_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: block !important;
}

.full_img img {
	object-fit: cover;
}

.full_img .img_wrapper *,
.full_img .mob_img_wrapper * {
	width: 100% !important;
	height: 100% !important;
}

.full_img .header_wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.header_content h1 {
	color: var(--white);
	font-family: 'poppins-m';
}

.header_content p {
	color: var(--white);
}

.single_col {
	grid-template-columns: 1fr;
	text-align: center;
	align-content: center;
	justify-items: center;
}

.single_col .header_content {
	align-items: center;
}

.single_col h1 {
	max-width: 1000px;
}

.single_col p {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.course_col p {
	max-width: 860px;
	margin: 0 !important;
}

.single_col h1 {
	line-height: 1.3;
}

.course_info .info {
	max-height: 310px;
	overflow-y: auto;
	max-width: 700px !important;
	line-height: 1.7;
}
/* 
.full_img .mob_img_wrapper {
	display: none !important;
} */

.course_herobnr {
	max-height: 350px;
	overflow-y: auto;
	max-width: 690px !important;
	word-break: break-word;
}
@media all and (max-width: 1024px) {
	.header_wrapper:not(.full_img .header_wrapper) {
		grid-template-columns: 1fr;
		text-align: center;
		gap: 3rem;
		justify-items: center;
	}

	.img_wrapper:not(.full_img .img_wrapper) {
		max-width: 450px;
	}

	/* .info {
		max-height: 310px;
		overflow-y: auto;
	} */
}

@media all and (max-width: 576px) {
	.hero_banner:not(.full_img) {
		padding-top: 0;
	}

	.full_img {
		padding-top: 69.44%;
		max-height: 300px;
	}

	.heading_wrapper {
		display: block;
	}

	/* .full_img .img_wrapper {
		display: none !important;
	}

	.full_img .mob_img_wrapper {
		display: block !important;
	} */
}
