.search_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	margin-top: 1rem;
	padding: 0.5rem;
	outline: none;
}

.focus_border {
	border: 1px solid var(--primary);
}

.input {
	width: 100%;
}

.no_data {
	margin: 0.5rem 0 0.1rem 0.25rem;
}

.search_wrapper svg {
	width: 20px;
	margin-left: 0.5rem;
}

.prices_filters,
.category_filters,
.brands_filters {
	max-height: 400px;
	overflow-y: auto;
	padding: 1rem;
	padding-top: 0;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid var(--gray-border);
	padding: 1rem;
}

.wrapper button {
	padding: 0;
	background-color: transparent;
	color: var(--primary);
}

.btn {
	padding: 0;
	background-color: transparent;
	color: var(--primary);
	font-size: var(--p);
	margin-top: 1.5rem;
}

.hide_btn {
	display: none;
}

/* custom checkbox */
.label_wrapper {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	line-height: 1.2;
	width: 100%;
}

/* custom checkbox */
.label_wrapper {
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* rates wrapper only for cart page shipping rates dropdown */
.rates_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.hide_lable {
	max-width: 17.5px;
	max-height: 17.5px;
	padding-left: 0;
	overflow: hidden;
	padding: 1px;
	margin-right: 1rem;
}

/* .hide_lable .checkmark {
	top: 0;
} */

/* Hide the browser's default radio button */
.label_wrapper input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 4;
}

@media all and (max-width: 1024px) {
	.prices_filters,
	.category_filters,
	.brands_filters {
		max-height: initial;
		overflow: hidden;
		background-color: var(--white);
		border-radius: 0;
	}
}
