.page_not_found_container {
	width: 100%;
	max-width: calc(1000px + 10%);
	margin: 0 auto;
	padding: 3rem 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
	text-align: center;
	overflow: hidden;
}

.error_wrapper {
	width: 100%;
	opacity: 0;
}

.heading_wrapper {
	position: relative;
}

.error_wrapper h1 {
	mix-blend-mode: overlay;
	line-height: 0.85;
}

.error_wrapper h1 span {
	display: inline-block;
	font-size: 13rem;
}

.error_wrapper h1:first-of-type {
	text-align: left;
}

.error_wrapper h1:last-of-type {
	text-align: right;
}

.error_wrapper h2 {
	font-family: 'poppins-m';
}

.error_wrapper p:first-of-type {
	margin-top: 0.5rem;
}

.wave_loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(var(--primary), var(--lite-dark-primary));
	border-radius: 50%;
	overflow: hidden;
	width: 350px;
	height: 350px;
}

.wave {
	position: absolute;
	height: 95%;
	width: 95%;
	background: var(--white);
	left: 0%;
}

.wave_0 {
	top: -5%;
	left: 0%;
	width: 100%;
	border-radius: 40%;
	transform: scale(2);
	background: rgba(0, 0, 0, 0.5);
}

.wave_1 {
	top: -5%;
	left: 10%;
	border-radius: 35%;
	transform: scale(1.2);
	background: rgba(222, 27, 218, 0.1);
}

.wave_2 {
	border-radius: 35%;
	transform: rotate(50deg);
	top: -50%;
	left: -10%;
	height: 120%;
	width: 120%;
	background-color: var(--lite-purple);
}

.error_btn_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.error_btn_wrapper a:first-of-type {
	margin-right: 2rem;
}

@media all and (max-width: 1024px) {
	.error_wrapper h1 span {
		font-size: 10rem;
	}

	.wave_loader {
		width: 300px;
		height: 300px;
	}
}

@media all and (max-width: 768px) {
	.wave_loader {
		width: 250px;
		height: 250px;
	}
}

@media all and (max-width: 576px) {
	.error_wrapper h1 span {
		font-size: 7rem;
	}

	.wave_loader {
		width: 200px;
		height: 200px;
	}

	.error_btn_wrapper a:first-of-type {
		margin-right: 1rem;
	}
}

@media all and (max-width: 360px) {
	.error_wrapper h1 span {
		font-size: 6rem;
	}

	.error_btn_wrapper {
		flex-direction: column;
	}

	.error_btn_wrapper a:first-of-type {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

@media all and (max-width: 1024px) {
	.no_internet_container {
		width: initial;
	}
}

@media all and (max-width: 768px) {
	.heading {
		margin-top: -2rem;
	}
}

@media all and (max-width: 576px) {
	.heading {
		margin-top: 0rem;
	}
	.no_internet_container {
		width: 100%;
	}
}
