.video_modal_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	transform: translateY(100vh);
	opacity: 0;
	visibility: hidden;
}

.show_video {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
	z-index: 50;
}

.inner_container {
	position: relative;
	width: 90%;
	max-width: 900px;
}

.video_modal_wrapper {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 56.66%;
}

.video {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video_close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -1rem;
	right: -0.75rem;
	z-index: 50;
	background-color: var(--white);
	padding: 2px;
	cursor: pointer;
}

.hide_form {
	transform: translateY(-100vh) !important;
}

@media all and (max-width: 1024px) {
	.video_close {
		top: -2rem;
		right: 0;
	}
}

@media all and (max-height: 600px) and (orientation: landscape) {
	.inner_container {
		width: 50%;
	}
}
