.address_card {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.75rem;
	position: relative;
}

.dflt_addr_btn {
	cursor: text;
	background-color: var(--lite-green);
	color: var(--green);
	border-color: var(--green);
}

.dflt_addr_btn:hover svg {
	transform: none;
}

.loader {
	margin-left: 0.5rem;
}

.wrapper {
	display: flex;
	align-items: center;
}

.wrapper svg {
	margin-right: 0.5rem;
}

.wrapper span {
	margin-right: 0.25rem;
	min-width: max-content;
}

.delete_btn_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete_btn_wrapper svg {
	min-width: 25px;
	max-width: 25px;
	cursor: pointer;
}

.address_card svg {
	min-width: 25px;
	max-width: 25px;
}

.icon_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}

.delete_address {
	cursor: pointer;
}

.edit_btn,
.edit_btn:hover {
	background-color: transparent;
}

.form_wrapper {
	min-width: 700px;
	max-width: 100%;
	max-height: 80vh;
	overflow-y: auto;
}

@media all and (max-width: 576px) {
	.address_card {
		padding: 2rem 1rem;
	}
}
