.category_card {
	padding: 1rem;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--white);
	border-bottom: 2px solid var(--primary);
}

.global_category_card {
	border-radius: 15px;
	width: 100%;
}

.category_card img {
	border-radius: 10px;
}

.name {
	margin-top: 1rem;
	text-align: center;
	word-break: break-word;
	line-height: 1.3;
}

.category_card:hover {
	transform: translateY(-5px);
}

@media all and (max-width: 768px) {
	.category_card {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
		border-radius: 15px;
	}
}

@media all and (max-width: 576px) {
	.category_card {
		padding: 1rem 0.5rem;
	}
}

@media all and (max-width: 360px) {
	.category_card {
		padding: 1rem 0.25rem;
	}
}
